In [1]:
import pandas as pd
import numpy as np

In [2]:
rng=np.random.RandomState(42)
ser=pd.Series(rng.randint(0,10,4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [7]:
df=pd.DataFrame(rng.randint(0,10,(3,4)),columns=['a','b','c','d'])
df

   a  b  c  d
0  7  4  3  7
1  7  2  5  4
2  1  7  5  1

In [11]:
rk=pd.Series({'湖北':1234,'湖南':3242,'广东':3233},name='人口')
mj=pd.Series({'湖北':123,'湖南':321,'山东':21},name='面积')
print(rk)
print(mj)
rk/mj

湖北    1234
湖南    3242
广东    3233
Name: 人口, dtype: int64
湖北    123
湖南    321
山东     21
Name: 面积, dtype: int64

山东          NaN
广东          NaN
湖北    10.032520
湖南    10.099688
dtype: float64

In [12]:
rk.index|mj,index

Index(['湖北', '湖南', '广东'], dtype='object')

In [14]:
rk.index| mj.index

Index(['山东', '广东', '湖北', '湖南'], dtype='object')

In [15]:
a=pd.Series([2,4,6],index=[0,1,2])
b=pd.Series([1,3,5],index=[1,2,3])
a+b

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [16]:
a|b

0     True
1     True
2     True
3    False
dtype: bool

In [17]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [18]:
ser

0    6
1    3
2    7
3    4
dtype: int32

In [19]:
df

   a  b  c  d
0  7  4  3  7
1  7  2  5  4
2  1  7  5  1

In [20]:
np.sin(df*np.pi/4)

          a             b         c             d
0 -0.707107  1.224647e-16  0.707107 -7.071068e-01
1 -0.707107  1.000000e+00 -0.707107  1.224647e-16
2  0.707107 -7.071068e-01 -0.707107  7.071068e-01

In [22]:
a=pd.Series([2,4,6],index=[0,1,2])
b=pd.Series([1,3,5],index=[1,2,3])
a+b

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [24]:
a|b

0     True
1     True
2     True
3    False
dtype: bool

In [29]:
a

0    2
1    4
2    6
dtype: int64

In [31]:
b

1    1
2    3
3    5
dtype: int64

In [25]:
a^b

0     True
1     True
2     True
3    False
dtype: bool

In [26]:
a&b

0    False
1    False
2    False
3    False
dtype: bool

In [27]:
a^b

0     True
1     True
2     True
3    False
dtype: bool

In [28]:
a*b

0     NaN
1     4.0
2    18.0
3     NaN
dtype: float64

In [32]:
a.add(b,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [33]:
a.add(b,fill_value=1)

0    3.0
1    5.0
2    9.0
3    6.0
dtype: float64

In [34]:
A = pd.DataFrame(rng.randint(0,20,(2,2)),columns=list("AB"))
# 生成一个2*2的数组,数值都小于20. DataFrame列用list('AB')生成
B = pd.DataFrame(rng.randint(0,20,(3,3)),columns=list('ABC'))
print(A)
print('*'*20)
print(B)
print('*'*20)
print(A+B)

    A   B
0   0  11
1  11  16
********************
    A   B   C
0   9  15  14
1  14  18  11
2  19   2   4
********************
      A     B   C
0   9.0  26.0 NaN
1  25.0  34.0 NaN
2   NaN   NaN NaN